<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <button class="button button-clear icon ion-navicon" toggle-left-dir></button>
        <h1 class="title has-notification">
            {{'My Pages' | translate}}
            <span class="header-notification"><header-stat-dir></header-stat-dir></span>
        </h1>
        <a ng-if="canCreate" class="button button-clear icon ion-ios-plus-empty" ng-href="#/app/pages/add"></a>
    </ion-header-bar>
    <page-search-dir></page-search-dir>
    <ion-content class="has-header has-footer">
        <page-list-dir></page-list-dir>
    </ion-content>
</ion-view>