<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-clear" back-dir translate>Cancel</button>
    <h1 class="title">{{'Edit Blog' | translate}}</h1>
    <button class="button button-clear" ng-click="onSave()">
      <ion-spinner class="spinner-light" ng-show="isProcessing"></ion-spinner>
      <span ng-hide="isProcessing" translate>Save</span>
    </button>
  </ion-header-bar>
    <ion-content class="has-header">
    <div class="list" ng-if="dataReady">
      <label class="item item-input item-stacked-label">
        <span class="input-label">*{{'Title' | translate}}</span>
        <input type="text" placeholder="{{'Title' | translate}}" ng-model="formData.sTitle" />
      </label>
      <div class="item item-input item-stacked-label">
        <span class="input-label">*{{'Post' | translate}}</span>
        <span class="input-label item-note gray" ng-click="onAttachPhoto()">+ {{'Insert Image' | translate}}</span>
        <textarea placeholder="{{'Post' | translate}}" ng-model="formData.sText"></textarea>
      </div>
      <div class="item item-input item-stacked-label">
        <span class="input-label">{{'Categories' | translate}}</span>
        <div class="button-bar padding">
          <div class="button button-small" ng-click="showCategories('public')">{{'Select Categories' | translate}}</div>
        </div>
      </div>
      <label class="item item-input item-select" ng-if="!item.isPublish()">
        <span class="input-label">{{'Status' | translate}}</span>
        <select class="control-full" ng-model="formData.sStatus">
          <option value="publish">{{'Publish' | translate}}</option>
          <option value="draft">{{'Draft' | translate}}</option>
        </select>
      </label>
      <label class="item item-input item-select" ng-if="form.view_options.length > 0">
        <span class="input-label">{{'View Privacy' | translate}}</span>
        <select ng-model="formData.iPrivacy" 
        ng-options="opt.sValue as opt.sPhrase|translate for opt in form.view_options">
        </select>
      </label>
      <label class="item item-input item-select" ng-if="form.comment_options.length > 0">
        <span class="input-label">{{'Comment Privacy' | translate}}</span>
        <select ng-model="formData.iPrivacyComment" 
        ng-options="opt.sValue as opt.sPhrase|translate for opt in form.comment_options">
        </select>
      </label>
      <div class="button-bar padding">
        <div class="button button-small" ng-click="preview()">{{'Preview' | translate}}</div>
      </div>
      <div class="item item-input item-stacked-label">
        <span class="input-label">{{'Attachments' | translate}}</span>
        <div class="button-bar padding">
          <div class="button button-small" ng-click="onAttachFile()" ng-disabled="isProcessingAttach"><i class="ion-image"></i></div>
          <div class="button button-small" ng-click="onAttachLink()" ng-disabled="isProcessingAttach"><i class="ion-link"></i></div>
        </div>
      </div>
      <div class="padding overflow-hidden attachment-photos" ng-show="attachedFiles.length">
        <div ng-repeat="att in attachedFiles" class="grid-photo-edit">
          <img ng-src="{{att.sImagePath}}" />
          <a class="icon ion-close" ng-click="onRemoveAttachment(att)"></a>
        </div>
      </div>
      <div class="attachment-links" ng-show="attachedLinks.length">
        <div ng-repeat="att in attachedLinks" class="item item-icon-right" ng-class="{'item-thumbnail-left': att.image}">
          <img ng-src="{{att.image}}" ng-if="att.image" />
          <h2 ng-bind-html="att.title || att.url"></h2>
          <p ng-bind-html="att.url"></p>
          <p ng-bind-html="att.description"></p>
          <i class="icon ion-close" ng-click="onRemoveAttachment(att)"></i>
        </div>
      </div>
    </div>
    <ion-infinite-scroll distance="62px" ng-if="!dataReady"></ion-infinite-scroll>
  </ion-content>
</ion-view>
