<ion-view>
    <div class="bar bar-header bar-positive">
        <button class="button icon-left ion-ios-arrow-left button-clear" back-dir ng-bind-html="getPrevPageTitle()"></button>
        <h1 class="title">{{'Forgot Password' | translate}}</h1>
        <button class="button button-clear" ng-click="onResetPassword()">
            <span>{{'Send' | translate}}</span>
        </button>
    </div>
    <ion-content class="has-header">
        <div class="padding">
            <span>{{'An email with instruction will be sent to your email below to reset password.' | translate}}</span>            
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="{{'Your Email'|translate}}" ng-model="data.sEmail">
            </label>
        </div>
    </ion-content>
</ion-view>