<ion-view class="user-login-page">
    <ion-content>
        <div class="login-logo"></div>
        <form method="post" ng-submit="doLogin()">
            <div class="list padding">
                <label class="item item-input">
                    <i class="icon ion-ios-email"></i>
                    <input type="email" ng-if="userLoginType == 'email'" placeholder="{{'Email' | translate}}" ng-model="loginData.sLogin" autocomplete="off" autocorrect="off" autocapitalize="off">
                    <input ng-if="userLoginType == 'user_name'" placeholder="{{'User Name' | translate}}" ng-model="loginData.sLogin" autocomplete="off" autocorrect="off" autocapitalize="off">
                    <input ng-if="userLoginType == 'both'" placeholder="{{'Login ID' | translate}}" ng-model="loginData.sLogin" autocomplete="off" autocorrect="off" autocapitalize="off">
                </label>
                <label class="item item-input">
                    <i class="icon ion-ios-locked"></i>
                    <input type="password" placeholder="{{'Password' | translate}}" ng-model="loginData.sPassword">
                </label>
            </div>
            <div class="item">
                <button type="submit" class="button button-block button-positive button-login" ng-if="!isProcessing">
                    {{'Sign in' | translate}}
                </button>
                <button type="submit" class="button button-block button-positive button-login" ng-if="isProcessing">
                    {{'Signing in...' | translate}}
                </button>
            </div>        
            <div class="item row">
                <a class="col col-50 button-light button-clear" ng-href="#/app/forgot-password">
                    <span>{{'Forgot Password?' | translate}}</span>
                </a>
                <a class="col col-50 button-light button-clear" ng-href="#/app/signup">
                    {{'Sign Up Now' | translate}}
                </a>
            </div>
        </form>
    </ion-content>
    <ion-footer-bar align-title="center">
        <span>{{'or using' | translate }}</span>
        <div class="item row">
            <div class="col col-50 button-facebook-login" ng-click="doLoginByFacebook()">
                <i class="icon ion-social-facebook"></i>
                {{'Facebook' | translate }}
            </div>
            <div class="col col-50 button-twitter-login" ng-click="doLoginByTwitter()">
                <i class="icon ion-social-twitter"></i>
                {{'Twitter' | translate}}
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
