<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <button class="button button-clear" back-dir translate>Cancel</button>
        <h1 class="title">{{'Edit My Photo' | translate}}</h1>
        <button class="button button-clear" ng-click="save()">
            <ion-spinner class="spinner-light" ng-show="isProcessing"></ion-spinner>
            <span ng-hide="isProcessing" translate>Save</span>
        </button>
    </ion-header-bar>
    <ion-content class="has-header padding">
        <div id="user_photo_holder"></div>
    </ion-content>
    <div class="bar bar-footer bar-light">
        <div class="title" ng-click="getPicture()">
            {{'Reselect Photo' | translate}}
        </div>
    </div>
</ion-view>