<div ui-view="tabContent">
    
</div>
<div class="tabs tabs-top">
    <a class="tab-item" nav-transition="none" ng-class="{'tab-item-active': currentPath == '/app/videos'}" ng-href="#/app/videos">{{'Videos' | translate}}</a>
    <a class="tab-item" nav-transition="none" nav-transition="none" ng-class="{'tab-item-active': currentPath == '/app/videos/my'}" ng-href="#/app/videos/my">{{'My Videos' | translate}}</a>
    <a class="tab-item" nav-transition="none" nav-transition="none" ng-class="{'tab-item-active': currentPath == '/app/videos/friend'}" ng-href="#/app/videos/friend">{{'Friend\'s Videos' | translate}}</a>
</div>