<div class="tabs tabs-icon-left compose-attachment-bar">
	<a class="tab-item" ng-click="onTagFriends()" ng-if="attachmentContext.enableTagFriends">
		<i class="icon ion-person-add"></i>
	</a>
	<a class="tab-item" ng-class="{disabled: isProcessingAttach || attachmentItem.sType}" ng-click="onAddPhoto('CAMERA')">
		<i class="icon ion-camera"></i>
	</a>
	<a class="tab-item" ng-class="{disabled: isProcessingAttach || attachmentItem.sType}" ng-click="onAddPhoto('PHOTOLIBRARY')">
		<i class="icon ion-images"></i>
	</a>
	<a class="tab-item" ng-class="{disabled: isProcessingAttach || attachmentItem.sType}" ng-click="onAddVideo()" ng-if="attachmentContext.bCanUploadVideo">
		<i class="icon ion-ios-videocam"></i>
	</a>
	<a class="tab-item" ng-class="{disabled: isProcessingAttach || attachmentItem.sType}" ng-click="onAddLocation()" ng-if="attachmentContext.enableLocation">
		<i class="icon ion-location"></i>
	</a>
	<a class="tab-item" ng-class="{disabled: isProcessingAttach || attachmentItem.sType}" ng-click="onAddLink()">
		<i class="icon ion-link"></i>
	</a>
</div>