<ion-header-bar align-title="center" class="bar-positive">
    <button class="button icon-left ion-ios-arrow-left button-clear" back-dir ng-bind-html="getPrevPageTitle()"></button>
    <h1 class="title" translate>Blogs</h1>
    <a ng-if="item.bCanShareBlogs" class="button button-clear icon ion-ios-plus-empty" ng-href="#/app/blogs/add/{{item.getType()}}/{{item.getId()}}"></a>
</ion-header-bar>
<blog-search-dir></blog-search-dir>
<ion-content class="has-header has-footer">
    <blog-all-list-dir></blog-all-list-dir>
</ion-content>