<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <button class="button button-clear icon ion-navicon" toggle-left-dir></button>
        <h1 class="title" translate>Browse Playlists</h1>
        <a ng-if="canCreatePlaylist" class="button button-clear icon ion-ios-plus-empty" ng-href="#/app/ultimatevideo/add/playlist"></a>
    </ion-header-bar>
    <ultimatevideo-search-playlist-dir>Loading...</ultimatevideo-search-playlist-dir>
    <ion-content class="has-header has-footer">
        <ultimatevideo-list-playlist-dir></ultimatevideo-list-playlist-dir>
    </ion-content>
</ion-view>

