.user-login-page {
  background: url("./../img/login-screen.jpg") repeat;
  background-size: cover;

  .login-logo {
    background: url("./../img/logo.png") no-repeat center;
    width: 430px;
    height: 160px;
    background-size: 430px;
    margin: 180px auto 180px auto;
  }
}

.menu.menu-right {
  opacity: 0;
}
