<div class="bar bar-subfooter" align-title="left" disable-scroll="true" class="yn-keyboard-attach item-input-inset">
   <div class="item item-input">
       <label class="item-input-wrapper">
            <input type="text" autocapitalize="on" autocorrect="on" id="comment_box" placeholder="{{'Comment here' | translate}}" ng-model="data.sText">
        </label>
        <button class="button button-small button-positive" ng-class="{disabled: isProcessingPost}" ng-click="onPostComment()">
            {{'Post' | translate}}
        </button>    
    </div>
 </div>