<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <button class="button icon-left ion-ios-arrow-left button-clear" back-dir ng-bind-html="getPrevPageTitle()"></button>
    <h1 class="title">{{'Privacy' | translate}}</h1>
    <button class="button button-clear" ng-click="onSave()">
      <ion-spinner class="spinner-light" ng-show="isProcessing"></ion-spinner>
      <span ng-hide="isProcessing" translate>Save</span>
    </button>
  </ion-header-bar>
  <ion-content class="content-dark has-header">
    <div class="list" ng-if="dataReady">
      <div class="item item-divider">
        {{'Items' | translate}}
      </div>
      <div class="padding">
        {{'Customize your default settings for when sharing new items on the site. Note this only changes your default settings for future items and does not change any items you have already shared. To change the privacy settings on those items you can customize the items privacy by editing the item itself.' | translate}}
      </div>
      <label class="item item-input item-select" ng-repeat="setting in form">
        <div class="input-label" ng-bind-html="setting.phrase"></div>
        <select ng-model="formData[setting.key]" ng-options="option.id as option.title|translate for option in setting.options">
        </select>
      </label>
    </div>
    <ion-infinite-scroll ng-if="isLoading"></ion-infinite-scroll>
  </ion-content>
</ion-view>