<div class="rate-star-list">
  <a class="rate-star-item button button-icon icon" 
  ng-class="{'ion-ios-star': rateData.iRating >= 1, 'ion-ios-star-outline': rateData.iRating < 1}" 
  ng-click="rateData.iRating = 1">
  </a>
  <a class="rate-star-item button button-icon icon" 
  ng-class="{'ion-ios-star': rateData.iRating >= 2, 'ion-ios-star-outline': rateData.iRating < 2}" 
  ng-click="rateData.iRating = 2">
  </a>
  <a class="rate-star-item button button-icon icon" 
  ng-class="{'ion-ios-star': rateData.iRating >= 3, 'ion-ios-star-outline': rateData.iRating < 3}" 
  ng-click="rateData.iRating = 3">
  </a>
  <a class="rate-star-item button button-icon icon" 
  ng-class="{'ion-ios-star': rateData.iRating >= 4, 'ion-ios-star-outline': rateData.iRating < 4}" 
  ng-click="rateData.iRating = 4">
  </a>
  <a class="rate-star-item button button-icon icon" 
  ng-class="{'ion-ios-star': rateData.iRating >= 5, 'ion-ios-star-outline': rateData.iRating < 5}" 
  ng-click="rateData.iRating = 5">
  </a>
</div>