<ion-header-bar align-title="center" class="bar-positive">
    <button class="button icon-left ion-ios-arrow-left button-clear" back-dir ng-bind-html="getPrevGroupTitle()"></button>
    <h1 class="title">Albums</h1>
    <!--<a ng-if="item.bCanUploadPhoto" class="button button-clear icon ion-ios-plus-empty" ng-href="#/app/group_uploadphoto/{{item.getId()}}"></a>-->
    <button class="button icon-right ion-ios-more button-clear" ng-class="{disabled: !dataReady}" ng-click="onGroupPhotoMenu()"></button>
</ion-header-bar>
<album-search-dir></album-search-dir>
<ion-content class="has-header has-footer">
    <photo-album-list-dir></photo-album-list-dir>
</ion-content>