<ion-header-bar align-title="center" class="bar-positive">
    <button class="button icon-left ion-ios-arrow-left button-clear" back-dir ng-bind-html="getPrevGroupTitle()"></button>
    <h1 class="title">Photos</h1>
    <button class="button icon-right ion-ios-more button-clear" ng-class="{disabled: !dataReady}" ng-click="onGroupPhotoMenu()"></button>
</ion-header-bar>
<photo-search-dir></photo-search-dir>
<ion-content class="has-header has-footer">
    <photo-list-dir></photo-list-dir>
</ion-content>