<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <button class="button icon-left ion-ios-arrow-left button-clear" back-dir ng-bind-html="getPrevPageTitle()"></button>
    <h1 class="title" translate>Account</h1>
    <button class="button button-clear" ng-click="onSave()">
      <ion-spinner class="spinner-light" ng-show="isProcessing"></ion-spinner>
      <span ng-hide="isProcessing" translate>Save</span>
    </button>
  </ion-header-bar>
  <ion-content class="content-dark has-header">
    <div class="list">
      <label class="item item-input item-stacked-label item-light"> 
        <span class="input-label">{{'Old Password' | translate}}</span>
        <input type="password" placeholder="{{'Old Password' | translate}}" ng-model="formData.old_password">
      </label>
      <label class="item item-input item-stacked-label item-light"> 
        <span class="input-label">{{'New Password' | translate}}</span>
        <input type="password" placeholder="{{'New Password' | translate}}" ng-model="formData.new_password">
      </label>
      <label class="item item-input item-stacked-label item-light"> 
        <span class="input-label">{{'Confirm Password' | translate}}</span>
        <input type="password" placeholder="{{'Confirm Password' | translate}}" ng-model="formData.confirm_password">
      </label>
    </div>
  </ion-content>
</ion-view>