<div class="list page-music-landing">
  <div class="padding text-center" ng-if="noItems" translate>
    No music found.
  </div>
  <div class="item item-thumbnail-left item-music" ng-class="{'active': item.getId() == activeObj.getId()}" 
  ng-repeat="item in items" ng-controller="MusicSongItemCtrl" ng-click="onItemClick(item, $event)">
    <div class="item-thumbnail" img-cache ng-background="{{item.getAlbumImageSrc()}}">
      <span class="item-music-play ion-ios-play"></span>
    </div>
    <h2 class="yncontent-title" ng-bind-html="item.getTitle()"></h2>
    <div class="music-info">
      <span class="item-author-by" ng-if="item.getAlbumId()">
        {{'in' | translate}} <a class="item-title" href="{{item.getAlbumUrl()}}" ng-bind-html="item.getAlbumTitle()"></a>
      </span>
      <span class="item-author-by">
        {{'by' | translate}} <a class="item-title" href="{{item.getPosterUrl()}}" ng-bind-html="item.getPosterTitle()"></a>
      </span>
      <div class="music-info-properties item-stats">
        <a class="gray"><i class="ion-headphone"></i> {{item.iTotalPlay}}</a>
        <span class="icon-separator"></span>
        <span>{{item.fromNow()}}</span>
      </div>
    </div>
  </div>
  <ion-infinite-scroll distance="62px" ng-if="canLoadMore" on-infinite="loadMore()">
  </ion-infinite-scroll>
</div>