<ion-view>
<ion-header-bar align-title="center" class="bar-positive">
  <button class="button button-clear icon ion-navicon" toggle-left-dir></button>
  <h1 class="title has-notification">
	{{'Video Channel' | translate}}
	<span class="header-notification"><header-stat-dir></header-stat-dir></span>
  </h1>
  <a ng-if="canCreateChannel" class="button button-clear icon ion-ios-plus-empty" ng-href="#/app/videochannel/add/channel"></a>
</ion-header-bar>
  <videochannel-search-channel-dir></videochannel-search-channel-dir>
  <ion-content class="has-header has-footer">
   <videochannel-list-channel-dir></videochannel-list-channel-dir>
  </ion-content>
</ion-view>

