<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <button class="button button-clear icon ion-navicon" toggle-left-dir></button>
        <h1 class="title has-notification">
            {{'Groups' | translate}}
            <span class="header-notification"><header-stat-dir></header-stat-dir></span>
        </h1>
        <a ng-if="canCreate" class="button button-clear icon ion-ios-plus-empty" ng-href="#/app/groups/add"></a>
    </ion-header-bar>
    <group-search-dir></group-search-dir>
    <ion-content class="has-header has-footer">
        <group-list-dir></group-list-dir>
    </ion-content>
</ion-view>