<div class="list chat-list">
  <div class="padding text-center" ng-if="noItems && listData.sSearch">
    <span>{{'No contacts found.' | translate}}</span>
  </div>
  <div class="padding text-center" ng-if="noItems && !listData.sSearch">
    <span>{{'No friends available for chatting.' | translate}}</span>
  </div>
  <div class="item item-avatar item-icon-right" ng-class="{'item-stable': item.isUnread(), 'active': item.getId() == cometchatObj.getId()}"
  ng-repeat="item in items" ng-click="showCometchat(item)" ng-hide="item.isHidden()">
    <img ng-src="{{item.getImageSrc()}}" height="50" />
    <h2 ng-bind-html="item.getTitle()"></h2>
    <i class="icon ion-record {{item.getStatus()}}"></i>
  </div>
  <ion-infinite-scroll distance="62px" ng-if="canLoadMore" on-infinite="loadMore()"></ion-infinite-scroll>
</div>