<ion-view>
    <div class="bar bar-header bar-positive">
        <button class="button icon-left ion-ios-arrow-left button-clear" back-dir></button>
        <h1 class="title" translate>Edit Poll</h1>
        <button class="button button-clear" ng-click="onSave()">
            <ion-spinner class="spinner-light" ng-show="isProcessing"></ion-spinner>
            <span ng-hide="isProcessing" translate>Save</span>
        </button>
    </div>
    <ion-content class="has-header">
        <div class="list" ng-if="dataReady">
            <label class="item item-input item-stacked-label">
                <span class="input-label">{{'Question' | translate}}</span>
                <input ng-disabled="!perms.bCanEditTitle" type="text" ng-model="formData.sQuestion" placeholder="{{'Question'|translate}}">
            </label>
            <label class="item item-input item-select" ng-if="form.viewOptions.length > 0">
                <span class="input-label">{{'Privacy' | translate}}</span>
                <select ng-model="formData.iPrivacy" ng-options="opt.sValue as opt.sPhrase|translate for opt in form.viewOptions" required>
                </select>
            </label>
            <label class="item item-input item-select" ng-if="form.commentOptions.length > 0">
                <span class="input-label">{{'Comment Privacy' | translate}}</span>
                <select ng-model="formData.iPrivacyComment" ng-options="opt.sValue as opt.sPhrase|translate for opt in form.commentOptions" required>
                </select>
            </label>
            <label class="item item-input item-select hide">
                <span class="input-label">{{'Public Votes' | translate}}</span>
                <select ng-model="formData.iHideVote">
                    <option value="0">{{'Yes' | translate}}</option>
                    <option value="1">{{'No' | translate}}</option>
                </select>
            </label>

            <div class="item item-input item-stacked-label noborder-bottom">
                <span class="input-label" translate>Main Photo</span>
                <div>
                    <div class="grid-photo-edit" ng-if="formData.photoPath">
                        <img ng-src="{{formData.photoPath}}" />
                        <a class="icon ion-close" ng-click="onRemovePhoto()"></a>
                    </div>
                    <div class="grid-photo-edit" ng-if="!formData.photoPath">
                        <div ng-click="onAddPhoto()" class="grid-photo-add"></div>
                    </div>
                </div>
            </div>
            <div ng-if="perms.bCanEditQuestion">
                <label class="item item-divider">
                    <span class="input-label">{{'Posible Answers' | translate}}</span>
                </label>
                <div class="item item-button-right" ng-repeat="option in form.aAnswer">
                    <input type="text" ng-model="option.sAnswer" />
                    <button class="button button-clear button-positive icon ion-ios-plus-outline" ng-if="$index == 0" ng-class="{disabled: form.aAnswer.length >= perms.iMaxAnswer}" ng-click="onAddAnswer($index)"></button>
                    <button class="button button-clear button-positive icon ion-ios-minus-outline" ng-if="$index > 0" ng-class="{disabled: form.aAnswer.length <= perms.iMinAnswer}" ng-click="onRemoveAnswer($index)"></button>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>