.item-forum {
  .item-stats {
    margin-bottom: ceil($item-padding/2);
  }
}

.item-body img {
  max-width: 100%;
}

blockquote {
  margin: 0 0 ceil($item-padding/2);
  padding: ceil($item-padding/2) $item-padding;
  background-color: $sub-background-color;
  border-left: 5px solid $border-dark-color;

  p {
    font-size: $font-default-size;
  }

  blockquote {
    margin-top: ceil($item-padding/2);
  }

  & > strong:first-child {
    margin-bottom: ceil($item-padding/2);
    font-weight: normal;
    font-style: italic;

    &:before {
      content: "\f2d4";
      display: inline-block;
      font-family: "Ionicons";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-rendering: auto;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: $unactive-color;
      margin-right: 5px;
    }
  }
}

.item-forum-reply > blockquote {
  margin: $item-padding;
}

.item-post {
  .item-time {
    color: $description-light-color;
    font-size: $font-sub-size;
  }

  .item-avatar + .item-body {
    border-top: 0;
    padding-top: 0;
  }
}

h2.item-post-title {
  font-size: $font-title-size;
  padding: $item-padding;
  font-weight: bold;
  margin-bottom: 0;
}

.item-post-detail iframe {
  width: 100%;
  max-width: 100%;
}

.item-forum-wrapper {
  padding-top: 9px;

  .item-forum {
    background-color: #f3f6f7;

    .icon {
      &:first-child {
        &:before {
          font-size: 24px;
        }
      }
    }

    &.item-category {
      .icon {
        &:first-child {
          &:before {
            font-size: 20px;
          }
        }

        &:last-child {
          &:before {
            color: #a1a6aa;
          }
        }
      }
    }

    h2 {
      display: inline;
    }
  }

  &:first-child {
    padding-top: 0;
  }

  .item-sub-forum {
    .icon {
      &:first-child {
        &:before {
          font-size: 24px;
          color: #a1a6aa;
        }
      }
    }
  }
}

.item-post {
  .item {
    &.item-icon-small {
      border: none;
      padding: 0;
      padding-left: 18px;

      .icon {
        left: 0;
        font-size: 15px;
        height: 18px;

        &:before {
          text-align: left;
        }
      }
    }
  }

  .title-prefix {
    font-weight: normal;
    color: #b6b6b6;
  }
}

.thread-list-wrapper {
  padding-top: 8px;

  .thread-list-header {
    background-color: #f3f6f7;

    .icon {
      &:last-child {
        &:before {
          color: #a1a6aa;
        }
      }
    }

    h2 {
      display: inline;
    }

    &.announcement-list-header {
      color: $active-color;

      .icon {
        &:first-child {
          &:before {
            font-size: 20px;
          }
        }
      }

      h2 {
        color: $active-color;
      }
    }
  }
}

.item-thread {
  .icon {
    &:first-child {
      &:before {
        color: #a1a6aa;
      }
    }
  }

  &.item-announcement {
    .icon {
      &:first-child {
        &:before {
          font-size: 20px;
        }
      }
    }
  }

  &.sticky {
    background-color: #e4fcff;
    
    .icon {
      &:first-child {
        &:before {
          color: $active-color;
        }
      }
    }

    h2 {
      color: $active-color;
    }
  }
}

.sub-item {
  &.item-icon-left {
    padding-left: 58px;

    .icon {
      &:first-child {
        left: 18px;
      }
    }
  }
}

.forum-btn-jump {
  min-width: 100px;
  position: relative;

  select {
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  &:after {
    content: '';
    display: block;
    width: 1px;
    height: 50%;
    position: absolute;
    right: 0;
    top: 25%;
    background-color: $tabs-default-border;
  }
}

.new_quote {
  @include item-style(#f3f6f7, $item-default-border, $item-default-text);

  position: relative;
  z-index: $z-index-item; // Make sure the borders and stuff don't get hidden by children
  display: block;

  margin: $item-border-width * -1;
  padding: $item-padding;

  border-width: $item-border-width;
  border-style: solid;
  font-size: $item-font-size;

  .new_quote_header {
    color: #b6b6b6;

    &:before {
      content: "\f347";
      display: inline-block;
      font-family: "Ionicons";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-rendering: auto;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-right: 6px;
    }

    a {
      font-weight: bold;
      color: #404446;
    }
  }
}

.thread-poll-header {
  h2 {
    display: inline;
  }
}

.item-thread-post {
  .item-avatar {
    padding-left: 84px;

    img {
      max-width: 60px;
      max-height: 60px;
    }

    p {
      margin-bottom: 0;
    }
  }
}