<ion-header-bar class="bar-positive">
    <button class="button icon-left ion-ios-arrow-left button-clear" back-dir ng-bind-html="getPrevPageTitle()"></button>
    <h1 class="title" translate>Photos</h1>
    <a ng-if="item.bCanUploadPhoto" class="button button-clear icon ion-ios-plus-empty" ng-href="#/app/directory/business/{{item.getId()}}/upload_photo"></a>
</ion-header-bar>
<ion-content class="has-header has-footer business-page-content">
    <div class="item item-divider">
        <i class="icon ion-images gray"></i>
        <span class="text-uppercase">{{'Photos' | translate}}</span>
        <span class="float-right count">{{item.iTotalPhotos}}</span>
    </div>
    <photo-list-dir></photo-list-dir>
</ion-content>
