<ion-view>
    <div class="bar bar-header bar-positive">
        <button class="button icon-left ion-ios-arrow-left button-clear" back-dir></button>
        <h1 class="title" translate>Add Quiz</h1>
        <button class="button button-clear" ng-click="onSave()">
            <ion-spinner class="spinner-light" ng-show="isProcessing"></ion-spinner>
            <span ng-hide="isProcessing" translate>Save</span>
        </button>
    </div>
    <ion-content class="has-header" delegate-handle="quiz_question_list">
        <div class="list" ng-if="dataReady">
            <label class="item item-input item-stacked-label">
                <span class="input-label">{{'Quiz Title' | translate}}</span>
                <input type="text" ng-model="formData.sTitle" placeholder="{{'Quiz Title' | translate}}">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label" translate>Description</span>
                <textarea placeholder="{{'Description' | translate}}" ng-model="formData.sDescription"></textarea>
            </label>
            <label class="item item-input item-select" ng-if="form.viewOptions.length > 0">
                <span class="input-label">{{'Privacy' | translate}}</span>
                <select ng-model="formData.sAuthView" ng-options="opt.sValue as opt.sPhrase|translate for opt in form.viewOptions">
                </select>
            </label>
            <label class="item item-input item-select" ng-if="form.commentOptions.length > 0">
                <span class="input-label">{{'Comment Privacy' | translate}}</span>
                <select ng-model="formData.sAuthComment" ng-options="opt.sValue as opt.sPhrase|translate for opt in form.commentOptions">
                </select>
            </label>
            <div class="item item-input item-stacked-label noborder-bottom">
                <span class="input-label" translate>Main Photo</span>
                <div>
                    <div class="grid-photo-edit" ng-if="formData.photoPath">
                        <img ng-src="{{formData.photoPath}}" />
                        <a class="icon ion-close" ng-click="onRemovePhoto()"></a>
                    </div>
                    <div class="grid-photo-edit" ng-if="!formData.photoPath">
                        <div ng-click="onAddPhoto()" class="grid-photo-add"></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="item-quiz-question" ng-repeat="(questionIndex, question) in form.aQuestions">
                    <div class="item-separator"></div>
                    <div class="item item-divider item-button-right">
                        <span input-label>{{'Question' | translate}} {{questionIndex + 1}}</span>
                        <button class="button button-clear button-positive icon ion-close-circled" ng-if="$index >0" ng-class="{disabled: form.aQuestions.length <= perms.iMinQuestion}" ng-click="onRemoveQuestion(questionIndex)"></button>
                    </div>
                    <div class="item">
                        <textarea placeholder="{{'Question' | translate}}" ng-model="question.sQuestion"></textarea>
                        <span class="input-label" translate>Answers</span>
                        <div class="item item-quiz-answer" ng-class="{'correct': answer.bIsCorrect}" ng-repeat="(answerIndex, answer) in question.aAnswers">
                            <input type="text" ng-model="answer.sAnswer" placeholder="{{'Answer' | translate}} {{answerIndex + 1}}"/>
                            <button class="button button-clear button-positive icon ion-ios-plus-outline" ng-if="$index==0" ng-class="{disabled: question.aAnswers.length >= perms.iMaxAnswer}" ng-click="onAddAnswer(questionIndex)"></button>
                            <button class="button button-clear button-positive icon ion-ios-minus-outline" ng-if="$index >0" ng-class="{disabled: question.aAnswers.length <= perms.iMinAnswer}" ng-click="onRemoveAnswer(questionIndex, answerIndex)"></button>
                        <span class="checkbox" ng-click="setCorrectAnswer(questionIndex, answerIndex)">
                            <input type="radio" name="{{questionIndex}}" ng-checked="answer.bIsCorrect">
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-quiz-add">
                <button class="button button-quiz-add button-positive" ng-class="{disabled: form.aQuestions.length >= perms.iMaxQuestion}" ng-click="onAddQuestion()">+ Add Question</button>
            </div>
        </div>
        <ion-infinite-scroll distance="62px" ng-if="!dataReady"></ion-infinite-scroll>
    </ion-content>
</ion-view>