.poll-result-bar {
  margin-top: ceil($item-padding/3);
  height: 12px;
  background-color: $music-track-background-color;
  @include border-radius(4px);

  .color-bar{
	@include border-radius(4px);
	height: 12px;
	display: block;
	vertical-align: middle;
	padding-left: 3px;
	margin-right: 5px;
	float: left;

	&.color-bar-0 { background-color: #aaea4f; }
	&.color-bar-1 { background-color: #ea4f4f; }
	&.color-bar-2 { background-color: #4faaea; }
	&.color-bar-3 { background-color: #eaaa4f; }
	&.color-bar-4 { background-color: #4f5eea; }
	&.color-bar-5 { background-color: #4feabc; }
	&.color-bar-6 { background-color: #e54fea; }
	&.color-bar-7 { background-color: #eae84f; }
  }
}

.item-poll {
  .item-thumbnail-left {
	min-height: 62px;
	padding-left: 74px;

	.item-thumbnail {
	  border-radius: 5px !important;
	  width: 62px;
	  height: 62px;
	  top: 13px;
	  left: 12px;

	}

	p {
	  margin: 0 0 1px 0;
	}
  }
}

.item-poll-detail {

  .item-image span {
	display: block;
	height: 180px;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  }

  & > .item:first-child {
	padding-bottom: 0;
	border-bottom: 0;
  }

  & > .item.item-avatar {
	border-top: 0;
  }

  & > .item.item-text-wrap {
	border-top: 0;
	padding-top: 0;
	border-bottom: 2px solid $border-color;
	color: $energized;
  }

  & > ul.list.list-vote {
	margin-bottom: 0 !important;
	font-size: $font-description-size;

	.item.item-checkbox {
	  border: 0;
	}
  }

  & .item.item-divider {
	text-align: center;
	color: $description-color;
	text-transform: uppercase;

	.icon {
	  color: $description-color;
	}
  }

  & .item.item-content {

	border-bottom: 0;

	h2 {
	  white-space: normal;
	  margin: 0 0 6px 0;
	}

	p {
	  margin: 0 0 4px 0;
	}

	.item-stats {
	  border-bottom: 1px $border-color solid;
	  padding-bottom: 12px;
	  margin-bottom: -6px;
	}
  }


  .item-detail-users {
	.item { border: 0; }
	.item:first-child { padding-left: 40px; }
	.item > .icon:first-child {
	  font-size: $icon-search-size;
	  color: $description-light-color;
	}

	h2 {
	  margin-bottom: 0;
	  text-transform: uppercase;
	  color: $description-color;
	}

	h2 + .icon {
	  right: 0;
	  font-size: $icon-subheader-size;
	  color: $description-light-color;
	}

	.list-member img {
	  width: 40px;
	  height: 40px;
	  margin-right: 8px;
	  @include border-radius(4px);
	}

	.item-group-photo {
	  width: 91px;
	  height: 91px;
	  display: inline-block;
	  margin-right: $item-padding;
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: center;
	}
  }
}