.item-video {
  .item-image > span {
	display: block;
	height: 160px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	.item-video-play {
	  position: absolute;
	  top: 50%;
	  left: 50%;;
	  background: $text-active-color;
	  color: $active-color;
	  width: 42px;
	  height: 42px;
	  margin-left: -21px;
	  margin-top: -21px;
	  @include border-radius(21px);
	  line-height: 44px;
	  font-size: 32px;
	  padding-left: 4px;
	  text-align: center;
	}
  }

  .item-content {
	& > h2,
	& > p {
	  padding-right: 30px;
	}
  }
}

.item-video-detail {
  .item-content {
	border-top: 0;

	.item-author-by {
	  border-bottom: 1px $border-color solid;
	  padding-bottom: $item-padding;
	}
  }

  .video-container {
	width: 100%;
	background-color: #141414;

	.landscape {
	  margin-left: auto;
	  margin-right: auto;
	  width: 80%;

	  .mejs-container {
		max-width: 100%
	  }
	}
  }
}

.item-video-attachment .item-image > span {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;

  .item-video-play {
	position: absolute;
	top: 50%;
	left: 50%;;
	background: $text-active-color;
	color: $active-color;
	width: 42px;
	height: 42px;
	margin-left: -21px;
	margin-top: -21px;
	@include border-radius(21px);
	line-height: 44px;
	font-size: 32px;
	padding-left: 4px;
	text-align: center;
  }
}

video#video_player_control,
.mp4-uploaded-player video,
.video-embed-iframe iframe {
  width: 100%;
  min-height: 200px;
  background-color: #000;
}