<form class="list bar-subheader bar-header-search has-other-button" ng-submit="onSearch()">
  <i class="icon ion-ios-search placeholder-icon" ng-click="showAdvSearch = !showAdvSearch"></i>
  <div ng-show="showAdvSearch" class="item-input-search">
    <div class="bar item-input-inset">
      <input type="search" class="item-input-search-box" ng-model="searchPhotos.sSearch" placeholder="{{'Search photos' | translate}}">
    </div>
  </div>
  <div ng-show="showAdvSearch" class="advanced-search" ng-if="searchPhotos.sView != 'my'">
    <div class="item item-input item-select">
      <div class="input-label" translate>
        Category
      </div>
      <select ng-model="searchPhotos.iCategoryId" ng-options="opt.iId as opt.sName|translate for opt in searchForm.categoryOptions">
        <option value="">{{'All Categories' | translate}}</option>
      </select>
    </div>
    <div class="item item-input item-select">
      <div class="input-label" translate>
        List By
      </div>
      <select ng-model="searchPhotos.sOrder">
        <option value="latest">{{'Latest' | translate}}</option>
        <option value="most_viewed">{{'Most Viewed' | translate}}</option>
        <option value="most_disscussed">{{'Most Discussed' | translate}}</option>
      </select>
    </div>
    <div class="item padding">
      <button class="button button-block button-positive" type="submit">{{'Search' | translate}}</button>
    </div>
  </div>
</form>