<ion-modal-view class="modal-photo-view">
  <button class="button button-icon icon ion-close button-close-photo-detail" ng-click="hideView()"></button>
  <div class="swiper-container content-photo-view" id="photo-slider" style="position:fixed;left:0;top:0;bottom:0;right:0;background-color:#000;">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="float:left">
        <div class="content-slide" >
          <div class="photo_display" style="height: {{wrapperHeightInPx}};">
            <img class="lazy photo-detail-image" ng-src="{{imgSrc}}" style="width:100%" />
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-modal-view>