<div class="list">
  <div class="padding text-center" ng-if="noItems" translate>No threads found.</div>
  <div class="item item-thread item-icon-left" ng-class="{'sticky': item.isSticky()}" ng-repeat="item in items" href-dir url="{{item.getUrl()}}">
    <i class="icon ion-ios-paper-outline"></i>
    <h2 ng-bind-html="item.getTitle()"></h2>    
    <p class="item-author-by">{{'Last post by' | translate}} <a class="item-title" ng-href="{{item.getLastPoster().getUrl()}}" ng-bind-html="item.getLastPoster().getTitle()"></a></p>
    <p class="item-stats">
      <span>{{item.getTotalReply()}}</span> <i class="ion-ios-chatbubble"></i>
      <span class="padding-left">{{item.getTotalView()}}</span> <i class="ion-ios-eye"></i>
      <span class="icon-separator"></span>
      <span>{{item.getLastPostedDate()}}</span>
    </p>
  </div>
  <ion-infinite-scroll distance="62px" ng-if="canLoadMore && listDataReady" on-infinite="loadMore()"></ion-infinite-scroll>
</div>