<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-clear" back-dir translate>Cancel</button>
    <h1 class="title">{{'Editing Post' | translate}}</h1>
    <button class="button button-clear" ng-click="onSave()">
      <ion-spinner class="spinner-light" ng-show="isProcessing"></ion-spinner>
      <span ng-hide="isProcessing" translate>Save</span>
    </button>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="list" ng-if="dataReady">
      <div class="item item-input item-stacked-label">
        <span class="input-label">{{'Message' | translate}}</span>
        <span class="input-label item-note gray" ng-click="onAttachPhoto()">+ {{'Insert Image' | translate}}</span>
        <textarea placeholder="{{'Post' | translate}}" ng-model="formData.sText"></textarea>
      </div>
      <div class="item item-input item-stacked-label">
        <span class="input-label">{{'Attachments' | translate}}</span>
        <div class="button-bar padding">
          <div class="button button-small" ng-click="onAttachFile()" ng-disabled="isProcessingAttach"><i class="ion-image"></i></div>
          <div class="button button-small" ng-click="onAttachLink()" ng-disabled="isProcessingAttach"><i class="ion-link"></i></div>
        </div>
      </div>
      <div class="padding overflow-hidden attachment-photos" ng-show="attachedFiles.length">
        <div ng-repeat="att in attachedFiles" class="grid-photo-edit">
          <img ng-src="{{att.sImagePath}}" />
          <a class="icon ion-close" ng-click="onRemoveAttachment(att)"></a>
        </div>
      </div>
      <div class="attachment-links" ng-show="attachedLinks.length">
        <div ng-repeat="att in attachedLinks" class="item item-icon-right" ng-class="{'item-thumbnail-left': att.image}">
          <img ng-src="{{att.image}}" ng-if="att.image" />
          <h2 ng-bind-html="att.title || att.url"></h2>
          <p ng-bind-html="att.url"></p>
          <p ng-bind-html="att.description"></p>
          <i class="icon ion-close" ng-click="onRemoveAttachment(att)"></i>
        </div>
      </div>
    </div>
    <ion-infinite-scroll distance="62px" ng-if="!dataReady"></ion-infinite-scroll>
  </ion-content>
</ion-view>