<ion-view>
    <div class="bar bar-header bar-positive">
        <button class="button icon-left ion-ios-arrow-left button-clear" back-dir>{{'Previous' | translate}}</button>
        <h1 class="title" translate>Add A Channel</h1>
        <button class="button button-clear" ng-click="doSave()">
            <ion-spinner class="spinner-light" ng-show="isProcessing"></ion-spinner>
            <span ng-hide="isProcessing">{{'Next' | translate}}</span>
        </button>
    </div>
    <ion-content class="has-header">
        <div class="list" ng-if="dataReady">
            <label class="item item-input item-stacked-label">
                <span class="input-label">*{{'Keywords' | translate}}</span>
                <input type="text" placeholder="{{'Keywords' | translate}}" ng-model="formData.keywords">
            </label>
        </div>
    </ion-content>
</ion-view>