<form class="list bar-subheader bar-header-search" ng-class="{'has-other-button' : hasOtherButton}" ng-submit="onSearch()">
  <i class="icon ion-ios-search placeholder-icon" ng-click="showAdvSearch = !showAdvSearch"></i>
  <div ng-show="showAdvSearch" class="item-input-search">
    <div class="bar item-input-inset">
      <input type="search" class="item-input-search-box" ng-model="searchVideos.sSearch" placeholder="{{'Search videos' | translate}}">
    </div>
  </div>
  <div ng-show="showAdvSearch" class="advanced-search">
    <div class="item item-input item-select">
      <div class="input-label" translate>
        Category
      </div>
      <select ng-model="searchVideos.iCategory" ng-options="opt.iCategoryId as opt.sName|translate for opt in videoCategories">
        <option value="">{{'All Categories' | translate}}</option>
      </select>
    </div>
    <div class="item item-input item-select">
      <div class="input-label" translate>
        List By
      </div>
      <select ng-model="searchVideos.sOrder">
        <option value="latest" translate>Latest</option>
        <option value="featured" translate>Featured</option>
        <option value="most-viewed" translate>Most Viewed</option>
        <option value="most-liked" translate>Most Liked</option>
        <option value="most-talked" translate>Most Discussed</option>
      </select>
    </div>
    <div class="item padding">
      <button class="button button-block button-positive" type="submit">{{'Search' | translate}}</button>
    </div>
  </div>
</form>