<div class="padding text-center" ng-if="noItems" translate>No channels found.</div>
<div class="list card" ng-repeat="item in items" ng-controller="VideoChannelItemChannelCtrl" href-dir url="{{item.getUrl()}}">
	<div class="item">
		<i ng-if="!item.isProcessingAutoUpdate" class="activity-del-button ion-ios-arrow-down gain" ng-click="onItemSetting()"></i>
		<h2 class="item-title" ng-bind-html="item.sTitle"></h2>
		<p ng-if="item.iNumberVideos != 1">{{item.iNumberVideos}} {{'videos' | translate}}</p>
		<p ng-if="item.iNumberVideos == 1">{{item.iNumberVideos}} {{'video' | translate}}</p>
		<p ng-if="item.isProcessingAutoUpdate" class="activity-del-button"><ion-spinner icon="ripple"></ion-spinner> </p>
	</div>

	<div class="item item-body">
		<img class="full-image" ng-src="{{item.sVideoImage}}">
		<p>
			{{item.sSummary}}
		</p>
	</div>

</div>
<ion-infinite-scroll distance="62px" ng-if="canLoadMore" on-infinite="loadMore()"></ion-infinite-scroll>