<!--phrases for nggettext extract-->
<label>{{ 'News Feed' | translate }}</label>
<label>{{ 'Friends' | translate }}</label>
<label>{{ 'Members' | translate }}</label>
<label>{{ 'Videos' | translate }}</label>
<label>{{ 'Albums' | translate }}</label>
<label>{{ 'Pages' | translate }}</label>
<label>{{ 'Events' | translate }}</label>
<label>{{ 'Music' | translate }}</label>
<label>{{ 'Forums' | translate }}</label>
<label>{{ 'Mail' | translate }}</label>
<label>{{ 'Polls' | translate }}</label>
<label>{{ 'Quizzes' | translate }}</label>
<label>{{ 'Blogs' | translate }}</label>
<label>{{ 'Marketplace' | translate }}</label>
<label>{{ 'Memberships' | translate }}</label>
<label>{{ 'Settings' | translate }}</label>
<label>{{ 'Language' | translate }}</label>
<label>{{ 'Logout' | translate}}</label>
