<div class="tabs tabs-icon-left compose-attachment-bar">
  <a class="tab-item" ng-class="{disabled: isProcessingAttach || (attachmentItem.sType && (attachmentItem.sType != 'photo' || !attachmentContext.enableMultiPhotos))}" ng-click="onAddPhoto('CAMERA')">
    <i class="icon ion-android-camera"></i>
  </a>
  <a class="tab-item" ng-class="{disabled: isProcessingAttach || (attachmentItem.sType && (attachmentItem.sType != 'photo' || !attachmentContext.enableMultiPhotos))}" ng-click="onAddPhoto('PHOTOLIBRARY')">
    <i class="icon ion-images"></i>
  </a>
  <a class="tab-item" ng-class="{disabled: isProcessingAttach || attachmentItem.sType}" ng-click="onAddVideo()" ng-if="attachmentContext.bCanAddVideo && attachmentContext.bCanUploadVideo">
    <i class="icon ion-ios-videocam"></i>
  </a>
  <a class="tab-item" ng-class="{disabled: isProcessingAttach || attachmentItem.sType}" ng-click="onAddVideoFromURL()" ng-if="attachmentContext.bCanAddVideo && !attachmentContext.bCanUploadVideo">
    <i class="icon ion-ios-videocam"></i>
  </a>
  <a class="tab-item" ng-class="{disabled: isProcessingAttach || attachmentItem.sType}" ng-click="onAddUltimateVideo()" ng-if="attachmentContext.bCanAddUltimatevideo && attachmentContext.bCanUploadUltimatevideo">
    <i class="icon ion-social-youtube"></i>
  </a>
  <a class="tab-item" ng-class="{disabled: isProcessingAttach || attachmentItem.sType}" ng-click="onSelectFromURL()" ng-if="attachmentContext.bCanAddUltimatevideo && !attachmentContext.bCanUploadUltimatevideo">
    <i class="icon ion-social-youtube"></i>
  </a>
  <a class="tab-item" ng-class="{disabled: isProcessingAttach || attachmentItem.sType}" ng-click="onAddLocation()" ng-if="attachmentContext.enableLocation">
    <i class="icon ion-ios-location"></i>
  </a>
  <a class="tab-item" ng-class="{disabled: isProcessingAttach || attachmentItem.sType}" ng-click="onAddLink()">
    <i class="icon ion-link"></i>
  </a>
</div>
