<ion-view>
	<ion-header-bar align-title="center" class="bar-positive">
		<button class="button button-clear" back-dir translate>Cancel</button>
		<div class="h1 title" translate>Update Status</div>
		<button class="button button-clear" ng-click="onSave()">
			<ion-spinner class="spinner-light" ng-show="isProcessing"></ion-spinner>
			<span ng-hide="isProcessing" translate>Post</span>
		</button>
	</ion-header-bar>
	<ion-content class="has-header has-footer">
		<div class="list">
			<div class="item" ng-class="{'item-icon-right' : isInMyProfile}">
				<div class="_uiPostComposer">
					<div class="_uiMentionTypeAheadContainer" id="user_status_area">
						<div class="_uiMentionHighlighterArea _uiCommentHighlighterArea">
							<div class="innerWrap">
								<span class="_uiMentionHighlighter" style="width: 498px;"></span>
							</div>
						</div>
						<div class="_uiTypeaheaMentiondArea">
							<div class="innerWrap item-input no-padding">
								<textarea id="composer_textarea" placeholder="{{text_what_s_on_your_mind_}}" class="textarea_post_composer textarea_post_user_status _uiMentionTypeahead textareaNoResize" ng-trim="false"></textarea>
							</div>
						</div>
						<input type="hidden" id="input_hidden_user_status" name="val[user_status]" class="_uiMentionHidden" />
					</div>
				</div>
				<i class="icon gray feed-add-privacy-icon"
				   ng-class="{'ion-earth': statusData.iPrivacy == '0','ion-person': statusData.iPrivacy == '1','ion-person-stalker': statusData.iPrivacy == '2','ion-locked': statusData.iPrivacy == '3'}"
				   ng-click="onPrivacySelect()" ng-if="isInMyProfile" ng-show="viewOptions.length">
				</i>
				<i ng-if="enabledEmoticon" class="icon ion-happy-outline activity-smiley-icon gray" ng-click="switchEmoticonPanel()"></i>
			</div>
			<activity-attachment-add-preview-dir></activity-attachment-add-preview-dir>
		</div>
	</ion-content>
	<activity-attachment-add-bar-dir></activity-attachment-add-bar-dir>
</ion-view>