<ion-header-bar align-title="center" class="bar-positive">
    <button class="button icon-left ion-ios-arrow-left button-clear" back-dir ng-bind-html="getPrevPageTitle()"></button>
    <h1 class="title" translate>Activity</h1>
    <button class="button icon-right ion-android-more-vertical button-clear" ng-class="{disabled: !dataReady}" ng-click="onItemSetting()"></button>
</ion-header-bar>
<div ng-if="dataReady && item.canComment()" class="bar bar-subheader bar-subheader2 bar-composer-top overflow-hidden">
    <div class="tabs tabs-light tabs-icon-left">
        <a class="tab-item" href="#/app/feed/add/default/{{item.getType()}}/{{item.getId()}}">
        <i class="icon ion-edit"></i>
        </a>
        <a class="tab-item" href="#/app/feed/add/camera/{{item.getType()}}/{{item.getId()}}">
        <i class="icon ion-android-camera"></i>
        </a>
    </div>
</div>
<ion-content overflow-scroll="true" class="has-subheader2 content-dark" ng-class="{'has-subheader': dataReady && item.canComment()}">
    <activity-list-dir></activity-list-dir>
</ion-content>