<div ui-view="tabContent">
    
</div>
<div class="tabs tabs-top tabs-overflow">
    <a class="tab-item" data-prevent-scroll="true" ng-class="{'tab-item-active': currentPath == '/app/{{item.getType()}}/' + item.getId()}" ng-click="goToPath('/app/{{item.getType()}}/{{item.getId()}}')" ng-if="is_show_info">{{'Information' | translate}}</a>
    <a class="tab-item" data-prevent-scroll="true" ng-class="{'tab-item-active': currentPath == '/app/group_activity/' + item.getId()}" ng-click="goToPath('/app/group_activity/{{item.getId()}}')" ng-if="is_show_activity">{{'Activity' | translate}}</a>
    <a class="tab-item" data-prevent-scroll="true" ng-class="{'tab-item-active': currentPath == '/app/group_events/' + item.getId()}" ng-click="goToPath('/app/group_events/{{item.getId()}}')" ng-if="is_show_events">{{'Events' | translate}}</a>
    <a class="tab-item" data-prevent-scroll="true" ng-class="{'tab-item-active': currentPath == '/app/group_photos/' + item.getId() || currentPath == '/app/group_albums/' + item.getId()}" ng-click="goToPath('/app/group_photos/{{item.getId()}}')" ng-if="is_show_photos">{{'Photos' | translate}}</a>
    <a class="tab-item" data-prevent-scroll="true" ng-class="{'tab-item-active': currentPath == '/app/group_videos/' + item.getId()}" ng-click="goToPath('/app/group_videos/{{item.getId()}}')" ng-if="is_show_videos">{{'Videos' | translate}}</a>
    <a class="tab-item" data-prevent-scroll="true" ng-class="{'tab-item-active': currentPath == '/app/group_ultimatevideo/' + item.getId()}" ng-click="goToPath('/app/group_ultimatevideo/{{item.getId()}}')" ng-if="is_show_ultimatevideo">{{'Ultimate Videos' | translate}}</a>
</div>