/**
 * Message add form
 */
.conversation-add-view {
  .to-list {
    margin-bottom: -1px;
  }
}

.item {
  .item-folder {
    background-color: #d9d9d9;
    color: #ffffff;
    padding: 1px 4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
  }
}