<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <button class="button icon-left ion-ios-arrow-left button-clear" back-dir>
      <span ng-hide="showAdvSearch" ng-bind-html="getPrevPageTitle()"></span>
    </button>
    <h1 class="title" translate>Search</h1>
  </ion-header-bar>
  <forum-search-dir></forum-search-dir>
  <ion-content class="has-header has-footer">
    <div class="item item-stable">
      <span>{{'Search threads for' | translate}}:</span>
      <span class="positive">{{listData.sKeyword}}</span>
    </div>
    <forum-thread-search-list-dir></forum-thread-search-list-dir>
  </ion-content>
</ion-view>