<div ui-view="tabContent">
    
</div>
<div class="tabs tabs-footer tabs-overflow">
    <a class="tab-item" nav-transition="none" data-prevent-scroll="true" ng-class="{'tab-item-active': currentPath == '/app/ultimatevideo'}" ng-href="#/app/ultimatevideo">{{'All Videos' | translate}}</a>
    <a class="tab-item" nav-transition="none" data-prevent-scroll="true" ng-class="{'tab-item-active': currentPath == '/app/ultimatevideo/my'}" ng-href="#/app/ultimatevideo/my">{{'My Videos' | translate}}</a>
    <a class="tab-item" nav-transition="none" data-prevent-scroll="true" ng-class="{'tab-item-active': currentPath == '/app/ultimatevideo/favorite'}" ng-href="#/app/ultimatevideo/favorite">{{'Favorite Videos' | translate}}</a>
    <a class="tab-item" nav-transition="none" data-prevent-scroll="true" ng-class="{'tab-item-active': currentPath == '/app/ultimatevideo/watch-later'}" ng-href="#/app/ultimatevideo/watch-later">{{'Watch Later' | translate}}</a>
    <a class="tab-item" nav-transition="none" data-prevent-scroll="true" ng-class="{'tab-item-active': currentPath == '/app/ultimatevideo/playlist'}" ng-href="#/app/ultimatevideo/playlist">{{'All Playlists' | translate}}</a>
    <a class="tab-item" nav-transition="none" data-prevent-scroll="true" ng-class="{'tab-item-active': currentPath == '/app/ultimatevideo/playlist/my'}" ng-href="#/app/ultimatevideo/playlist/my">{{'My Playlists' | translate}}</a>
    <a class="tab-item" nav-transition="none" data-prevent-scroll="true" ng-class="{'tab-item-active': currentPath == '/app/ultimatevideo/history'}" ng-href="#/app/ultimatevideo/history">{{'History' | translate}}</a>
</div>